<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.dreamroute.locker.misc.mapper.UserMapper">
	
	<!-- 这里的三个方法是模拟MyBatis Generator插件自动创建的代码，相当有参考价值 -->
	
	<update id="updateUser">
		update smart_user set name = #{name}, password = #{password}, version = #{version} where id = #{id}
	</update>
	
	<update id="updateUserErr">
		update smart_user set name = #{name}, password = #{password}, version = #{version} where id = #{id}
	</update>
	
	<update id="updateUserNoVersionLocker">
		update smart_user set name = #{name}, password = #{password} where id = #{id}
	</update>
	
	<select id="selectById" parameterType="int" resultType="com.github.dreamroute.locker.misc.domain.User">
	   select * from smart_user where id = #{id}
	</select>
	
</mapper>